{{define "head"}}
    <style>


    </style>

    <script>
        function init() {

            //Get the namespace
            let $_GET = [];
            window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, name, value) {
                $_GET[name] = value;
            })
            const namespace = $_GET["namespace"]

            let socket = connectToWS()

            //Set the header
            document.getElementById("h1").innerText = namespace;

            logArea = document.getElementById("log")
            socket.onmessage = function (event) {
                logArea.innerHTML += "<br />" + event.data
                const objDiv = document.getElementById("log");
                objDiv.scrollTop = objDiv.scrollHeight;
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
                } else {
                    // e.g. server process killed or network down
                    // event.code is usually 1006 in this case
                    console.log('[close] Connection died');
                    document.getElementById("connectionStatus").innerHTML = 'Connection: <span class="badge badge-pill badge-danger">dead</span>'
                    setTimeout(() => {
                        socket = connectToWS()
                    }, 5000)
                }
            };

            socket.onerror = function (error) {
                alert(`[error] ${error.message}`);
            };



        }

        function connectToWS() {
            document.getElementById("connectionStatus").innerHTML = 'Connection: <span class="badge badge-pill badge-primary">...</span>'

            let $_GET = [];
            window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, name, value) {
                $_GET[name] = value;
            })
            const namespace = $_GET["namespace"]

            //TODO: handle TLS with wss://
            const ws = "ws://" + window.location.host + "/ws?namespace=" + namespace
            let socket = new WebSocket(ws)
            socket.onopen = function (e) {
                console.log("[open] Connection established");
                console.log("Sending to server");
                document.getElementById("connectionStatus").innerHTML = 'Connection: <span class="badge badge-pill badge-success">LIVE</span>'
            };
            return socket


        }

        setTimeout(() => {
            init()
        }, 500)
    </script>

{{end}}


{{define "content"}}
    <h1 id="h1">loading...</h1>
        <p id="connectionStatus"></p>
    <div id="log" style="height: 1000px; overflow-y: scroll;"></div>
{{end}}