{{define "head"}}
    <style>

    </style>

    <script>

        const state = {}

        function init() {
            resolveNS()
            document.getElementById("h1").innerText = "Events ns/" + state.namespace
            connectToWS()
        }

        function resolveNS() {
            let $_GET = [];
            window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, name, value) {
                $_GET[name] = value;
            })
            state.namespace = $_GET["namespace"]
        }

        function connectToWS() {
            document.getElementById("connectionStatus").innerHTML = 'Connection: <span class="badge badge-pill badge-primary">...</span>'

            //TODO: handle TLS with wss://
            const ws = "ws://" + window.location.host + "/kemt/ws?namespace=" + state.namespace
            state.socket = new WebSocket(ws)

            logArea = document.getElementById("log")
            logArea.innerHTML = ""
            state.socket.onmessage = function (event) {
                logArea.innerHTML += "<br />" + event.data
                const objDiv = document.getElementById("log");
                objDiv.scrollTop = objDiv.scrollHeight;
            };
            state.socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
                } else {
                    // e.g. server process killed or network down
                    // event.code is usually 1006 in this case
                    console.log('[close] Connection died');
                    document.getElementById("connectionStatus").innerHTML = 'Connection: <span class="badge badge-pill badge-danger">DEAD</span>'
                    console.log("retrying to connect in 5 seconds")
                    setTimeout(() => {
                        connectToWS()
                    }, 5000)
                }
            };
            state.socket.onerror = function (error) {
                setTimeout(() => {
                    connectToWS()
                }, 5000)
                console.log(error.message)
            };
            state.socket.onopen = function (e) {
                console.log("[open] Connection established");
                console.log("Sending to server");
                document.getElementById("connectionStatus").innerHTML = 'Connection: <span class="badge badge-pill badge-success">LIVE</span>'
            };
        }

        setTimeout(() => {
            init()
        }, 500)

    </script>

{{end}}


{{define "content"}}
    <h1 id="h1">waiting</h1>
    <p id="connectionStatus"></p>
    <div id="log" style="height: 1000px; overflow-y: scroll; font-family: 'Lucida Console' "></div>
{{end}}